<mat-toolbar class="toolbar">
  <img src="../../../assets/images/logo.png" alt="Digesto">
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="space-around center">
  <form [formGroup]="form">
    <mat-form-field class="mw">
      <button type="submit" mat-icon-button matPrefix>
        <mat-icon class="icon">search</mat-icon>
      </button>
      <mat-label>Consulta de CNJ</mat-label>
      <input
        type="text"
        matInput
        placeholder="Ex: 5001682-88.2020.8.13.0672"
        [formControl]="cnj"
      >
      <mat-error>Por favor, insira um CNJ válido</mat-error>
    </mat-form-field>
  </form>

  <app-processo [processo]="processo"></app-processo>
</div>
